{% extends "post/layout.html" %}
{% load humanize %}
{% load post_extras %} {# custom filter 추가 #}

{% block title %}
    {% if tag %}
        #{{ tag }} - Pystagram
    {% else %}
        Pystagram
    {% endif %}
{% endblock %}

{% block content %}
    {% if tag %}
        {% if not posts %}
            <p>"#{{ tag }}" 태그 검색 결과가 없습니다.</p>
        {% else %}
            <p>"#{{ tag }}" 태그 검색 결과</p>
            <p>게시물 {{ paginator.count|intcomma }}개</p>
        {% endif %}
    {% endif %}
    {% for post in posts %}
        <ul>
            <li>{{ post.author.profile.nickname }}</li>
            {% if post.author == user %}
            <li><a href="{% url "post:post_edit" post.pk %}">수정</a></li>
            <li>
                <form class="" action="{% url "post:post_delete"  post.pk %}" method="post">
                    {% csrf_token %}
                    <input type="submit" name="" value="삭제" onclick="return confirm('정말 삭제하시겠습니까?')">
                </form>
            </li>
            {% endif %}
            <li>
                <input type="button" class="like" name="{{ post.id }}" value="Like">
                <p id="count-{{ post.id }}">{{ post.like_count }}개</p>
                <p id="like-user-{{ post.id }}">
                    {% for like_user in post.like_user_set.all %}
                        {{ like_user.profile.nickname }}
                    {% endfor %}
                </p>
            </li>
            <li><img src="{{ post.photo.url }}" alt="{{ post.author }}의 사진"></li>
            {{ post|add_link|safe|linebreaksbr }}
            <li>{{ post.created_at|naturaltime }}</li>

            <div id="comment-list-ajax-post{{ post.id }}" class=""></div>

            {% for comment in post.comment_set.all %}
            <li>
                {{ comment.author.profile.nickname }} : {{ comment.content }}
                {% if user == comment.author %}
                <input type="button" name="{{ comment.id }}" value="삭제" class="del-comment">
                {% endif %}
            </li>
            {% endfor %}

            {% if use.is_authenticated %}
            <li id="add-comment-post{{ post.id }}">
                {{ comment_form }}
                <input type="button" name="{{ post.id }}" value="등록" class="add-comment">
            </li>
            {% endif %}
        </ul>
        <hr>
    {% endfor %}

    <div id="post_list_ajax"class=""></div>
    <input id="page" type="hidden" name="" value="2">
    <button id="callmorepost" type="button" name="button">More posts</button>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        // 좋아요 ajax
        $(document).on('click'm '.like', function() {
            var pk = $(this).attr('name');
            $.ajax({ // .like 버튼을 클릭하면 새로고침 없이 ajax로 서버와 통신한다.
                type: "POST",
                url: "{% url 'post:post_like' %}",
                data: { 'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                dataType: "json",
                success: function(response) {
                    alert(response.message);
                    $("#count-" + pk).html(response.like_count + "개");

                    var users = $("#like-user-" + pk).text();

                    if (users.indexOf(response.nickname) != -1) {
                        $("#like-user-" + pk).text(users.replace(response.nickname, ""));
                    } else {
                        $("#like-user-" + pk).,text(response.nickname + users);
                    }
                },
                error: function(request, status, error) {
                    alert("로그인이 필요합니다.");
                    window.location.replace("/accounts/login/");
                }
            })
        })

        // 댓글 등록 ajax
        $(document).on('click', '.add-comment', function() {
            var pk = $(this).attr('name');
            var content = $("#add-comment-post" + pk " > input[type=text]").val();

            if (content.length > 255) {
                alert("댓글은 최대 255자까지 입력 가능합니다.\n현재 글자수 : " + content.length);
                return;
            }

            $.ajax({
                type: "POST",
                url: "{% url 'post:comment_new' %}",
                data: {
                    'pk': pk,
                    'content': content,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                dataType: "html",
                success: function(data, textStatus, jqXHR) {
                    alert("댓글을 추가하였습니다.");
                    $("#add-comment-post" + pk + " > input[type=text]").val("");
                    $("#comment-list-ajax-post" + pk).append(data);
                },
                error: function(request, status, error) {
                    alert("code: " + request.status + "\nmesssage: " + request.responseText + "\nerror: " + error);
                    alert("문제가 발생하였습니다.");
                },
            })
        })

        // 댓글 삭제 ajax
        $(document).on('click', '.del-comment', function() {
            if (!confirm("정말 삭제하시겠습니까?")) {
                return;
            }
            var pk = $(this).attr('name');
            $.ajax({
                type: "POST",
                url: "{% url 'post:comment_delete' %}",
                data: {
                    'pk': pk,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                dataType: "json",
                success: function(response) {
                    if (response.status) {
                        $('#comment' + pk).remove();
                    }
                    alert(response.message);
                },
                error: function(request, status, error) {
                    alert("code: " + request.status + "\nmesssage: " + request.responseText + "\nerror: " + error);
                    alert("문제가 발생하였습니다.");
                },
            })
        })
    </script>
{% endblock %}

{% block extra_script %}
    <script type="text/javascript">
        // 무한 스크롤 ajax
        $('#callmorepost').click(function() {
            var page = $("#page").val();
            var end_page = {{ posts.paginator.num_pages }};
            if (page > end_page) {
                return;
            }
            callMorePostAjax(page);
            $("#page").val(parseInt(page) + 1);
        });

        $(window).scroll(function() {
            var scrollHeight = $(window).scrollTop() + $(window).height();
            var documentHeight = $(document).height();

            console.log("documentHeight: " + documentHeight);
            console.log("windowHeight: " + $(window).height());
            console.log("scrollHeight: " + scrollHeight);

            if (scrollHeight >= documentHeight) {
                var page = $("#page").val();
                var end_page = {{ posts.paginator.num_pages }};
                if (page > end_page) {
                    return;
                }
                callMorePostAjax(page);
                $("#page").val(parseInt(page) + 1);
            }
        })

        function callMorePostAjax(page) {
            var end_page = {{ posts.paginator.num_pages }};
            if (page > end_page) {
                return;
            }
            $.ajax({
                type: 'POST',
                url: "{% url 'post:post_list' %}",
                data: {
                    'page': page,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: addMorePostAjax,
                dataType: 'html',
                error: function(request, status, error) {
                    alert('에러 발생');
                },
            });
        }

        function addMorePostAjax(data, textStatus, jqXHR) {
            $('#post_list_ajax').append(data);
        }
    </script>
{% endblock %}
