{% extends "post/layout.html" %}
{% load humanize %}
{% load post_extras %}

{% block title %}
    {% if tag %}
        #{{ tag }} - Pystagram
    {% else %}
        Pystagram
    {% endif %}
{% endblock %}

{% block content %}
    {% if tag %}
        {% if not posts %}
            <p>"#{{ tag }}" 태그 검색 결과가 없습니다.</p>
        {% else %}
            <p>"#{{ tag }}" 태그 검색 결과</p>
            <p>게시물 {{ posts.paginator.count|intcomma }}개</p>
        {% endif %}
    {% endif %}
    {% for post in posts %}
        <ul>
            <li>{{ post.author.profile.nickname }}</li>
            <li>
                {% if user.profile in post.author.profile.get_follower %}
                <input type="submit" name="{{ post.author.profile.id }}" value="following" class="follow">
                {% else %}
                <input type="submit" name="{{ post.author.profile.id }}" value="follow" class="follow">
                {% endif %}
                <span>
                </span>
            </li>
            {% if post.author == user %}
            <li><a href="{% url "post:post_edit" post.pk %}">수정</a></li>
            <li>
                <form class="" action="{% url "post:post_delete"  post.pk %}" method="post">
                    {% csrf_token %}
                    <input type="submit" name="" value="삭제" onclick="return confirm('정말 삭제하시겠습니까?')">
                </form>
            </li>
            {% endif %}
            <li>
                <input type="button" class="like" name="{{ post.id }}" value="Like">
                <p id="count-{{ post.id }}">{{ post.like_count }}개</p>
                <p id="like-user-{{ post.id }}">
                    {% for like_user in post.like_user_set.all %}
                        {{ like_user.profile.nickname }}
                    {% endfor %}
                </p>
            </li>
            <li><img src="{{ post.photo.url }}" alt="{{ post.author }}의 사진"></li>
            {{ post|add_link|safe|linebreaksbr }}
            <li>{{ post.created_at|naturaltime }}</li>

            {% if post.comment_set.all.count > 4 %}
            <input type="button" name="{{ post.id }}" value="--- 댓글 더보기 ---" class="comment-more">
            {% endif %}

            <div id="comment-list-ajax-post{{ post.id }}" class=""></div>

            {% for comment in post.comment_set.all|slice:":4" %}
            <div id="comment{{ comment.id }}" class="">
                <li>
                    {{ comment.author.profile.nickname }} : {{ comment.content }}
                    {% if user == comment.author %}
                    <input type="button" name="{{ comment.id }}" value="삭제" class="del-comment">
                    {% endif %}
                </li>
            </div>
            {% endfor %}
            <div id="comment-more-{{ post.id }}" class="">

            </div>

            {% if user.is_authenticated %}
            <li id="add-comment-post{{ post.id }}">
                {{ comment_form }}
                <input type="button" name="{{ post.id }}" value="등록" class="add-comment">
            </li>
            {% endif %}
        </ul>
        <hr>
    {% endfor %}

    <div id="post_list_ajax"class=""></div>
    <input id="page" type="hidden" name="" value="2">
    <button id="callmorepost" type="button" name="button">More posts</button>
    {% include "post/script_ajax.html" %}
{% endblock %}
